<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- site metas -->
    <title>Login</title>
   <!-- site icon -->
   <link rel="icon" href="resources/images/iconos/farmacia.ico">

   <!-- bootstrap css -->
   <link rel="stylesheet" href="resources/css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="resources/css/style.css" />
   <link rel="stylesheet" href="resources/css/responsive.css" />
   <!-- color css -->
   <link rel="stylesheet" href="resources/css/colors.css" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="resources/css/bootstrap-select.css" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="resources/css/perfect-scrollbar.css" />
   <!-- custom css -->
   <link rel="stylesheet" href="resources/css/custom.css" />
   <!-- calendar file css -->
   <link rel="stylesheet" href="resources/js/semantic.min.css" />

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 </head>

<body class="inner_page login">
   <div class="full_container">
      <div class="container">
  
         <div class="center verticle_center full_height">

            <div class="login_section">
               <div class="logo_login">
                  <div class="center row">
                     <img width="310" height="200" src="resources/images/logo/farmacia_lo.png" alt="#" />
                     <div>
                      <h3 style="color: white;  font-size: 40px; margin: 40px 0 0 0 ;">
                        FARMACIA 
                      </h3>
                      <h1 style="color: white; margin-left: 15%; font-size: 20px; font: oblique bold 120% cursive;">San juan de Dios</h1>
                     </div>
                     
                  </div>
                  
               </div>
               <div class="login_form">
                  <form method="post" action="/auth">
                     <fieldset>
                        <div class="field">
                           <label class="label_field">Correo:</label>
                           <div class="input_button_container" >
                               <input type="email" name="Email" id="Email" placeholder="Ingrese su correo"  maxlength="30">
                           </div>
                       </div>
                       
                       <div class="field">
                           <label class="label_field">Contraseña:</label>
                           <div class="input_button_container" > 
                               <input type="password" name="pass" id="pass" placeholder="Ingrese su contraseña"  maxlength="30">
                               <button id="show_password" class="bt" style="background-color: #485464; width: 80px; height: 40px;" type="button" onclick="mostrarPassword()">
                                   <span class="fa fa-eye-slash icon" style="color:white; font-size: 20px;"></span>
                               </button>
                           </div>
                       </div>
                       
                       
                       
                        <br>
                        <div class="field margin_0 text-center">
                            <button class="main_bt" type="submit" onclick="validarFormulario()">Iniciar sesión</button>
                        </div>
                    </fieldset>
                    
                  </form>
               </div>
            
            </div>
         </div>
        
      </div>
      <h6 style="padding: 30px;"> version del sistema 3.0</h6>
   </div>

   <!-- jQuery -->
   <script src="resources/js/jquery.min.js"></script>
   <script src="resources/js/popper.min.js"></script>
   <script src="resources/js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="resources/js/animate.js"></script>
   <!-- select country -->
   <script src="resources/js/bootstrap-select.js"></script>
   <!-- nice scrollbar -->
   <script src="resources/js/perfect-scrollbar.min.js"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- custom js -->
   <script src="resources/js/custom.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert != "undefined"){ %>
    <script>
      Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer:  <%= timer %>
      }).then(()=>{
          window.location = ' /<%= ruta %>'
      })
    </script>
    <%}%>

    <script type="text/javascript">
      function mostrarPassword(){
            var cambio = document.getElementById("pass");
            if(cambio.type == "password"){
               cambio.type = "text";
               $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            }else{
               cambio.type = "password";
               $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
         } 
         
         $(document).ready(function () {
         //CheckBox mostrar contraseña
         $('#ShowPassword').click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
         });
      });
      </script>
<script>
   function validarFormulario() {
       var email = document.getElementById("Email").value;
       var password = document.getElementById("pass").value;

      
       if (password.length < 8) {
           alert("La contraseña debe tener al menos 8 caracteres.");
           return false;
       }

       if (!/\d/.test(password) || !/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
           alert("La contraseña debe contener al menos un número y un carácter especial.");
           return false;
       }

       return true;
   }
</script>
</body>

</html>

<style>

.input_button_container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.input_button_container input {
    flex-grow: 1; /* Permite que el campo de entrada ocupe todo el espacio disponible */
    margin-right: 10px; /* Espacio entre el campo de entrada y el botón */
}
.label_field {
    font-weight: bold; /* Texto en negrita */
     /* Asegura que el texto esté en una nueva línea */
}


</style>
